@media screen and (max-width:450px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }
 .nav {
    position: fixed;
    text-align: right;
    top: 1px;
    width: 100%; 
    margin: 1px;
    display: block;
  }
    .nav ul{
      margin: 10px;
      padding: 10px;
    }
      .nav ul li {
        display: inline-block;
        list-style-type: none;
      }   
      .suscribir {
        background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
        background-size: cover;
        background-position: center;
        height: 250px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .formupa {
      width: 150px;
  }
  .form-group{
      margin: 3px;
  }
.footer{
    color: #ffffff;
    font-size: 20px;
  }
}

@media only screen and (min-width:451px) and (max-width:960px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }

    .nav {
     position: fixed;
     text-align: right;
     top: 1px;
     width: 100%; 
     margin: 1px;
     display: block;
    }
     .nav ul{
       margin: 10px;
       padding: 10px;}
       .nav ul li {
         display: inline-block;
         list-style-type: none;
       }
       .suscribir {
        background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
        background-size: cover;
        background-position: center;
        height: 350px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .formupa {
      width: 180px;
  }
  .form-group{
      margin: 2px;
  }
     .footer{
     color: #ffffff;
     font-size: 20px;}
  }
@media only screen and (min-width:960px){
  body {
    margin: 4px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  } 
  .font-rem{
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;}
  
.nav {
  position: fixed;
  text-align: right;
  top: 1px;
  width: 100%; 
  margin: 1px;
  display: block;
 }

  .nav ul{
    margin: 10px;
    padding: 10px;
   }

    .nav ul li {
      display: inline-block;
      list-style-type: none;
      background-color: transparent;
    }
    .nav ul li:hover{
      transform: scale(1.3);
      transition-property: all;
      transition-duration: 1.1s;
      background-color: #ff9900;
    }
    .suscribir {
      background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
      background-size: cover;
      background-position: center;
      height: 400px;
      display: flex;
      justify-items: center;
      align-items: center;
  }
    .formupa {
      width: 250px;
  }
  .form-group{
      margin: 3px;
  }
   .footer{
   color: #ffffff;
   font-size: 20px;}
  }