@media screen and (max-width:450px) {
  body {
    margin: 1px;
    padding: 1px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
    background-color:rgb(69, 68, 68);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
  } 
.font-rem{
     font-size: 3rem;
     font-family: 'Raleway', sans-serif;

 }
 .nav {
  background-color: black;
  position: fixed;
  text-align: right;
  align-items: right;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.nav ul{
 margin: 5px;
 padding: 5px;
}

.nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: transparent;
}
.nav ul li:hover{
  transform: scale(1.3);
  transition-property: all;
  transition-duration: 1.1s;
  background-color: #ff9900;
}   
      .suscribir {
        background-size: cover;
        background-position: center;
        height: 250px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .formupa {
      width: 150px;
  }
  .form-group{
      margin: 3px;
  }
  .footer{
    background-color: black;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    color: #ffffff;
    font-size: 20px;}
}

@media only screen and (min-width:451px) and (max-width:960px) {
  body {
    margin: 2px;
    padding: 2px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
    background-color:rgb(69, 68, 68);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
  } 
.font-rem{
     font-size: 4rem;
     font-family: 'Raleway', sans-serif;

 }

 .nav {
  background-color: black;
  position: fixed;
  text-align: right;
  align-items: right;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.nav ul{
 margin: 10px;
 padding: 10px;
}

.nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: transparent;
}
.nav ul li:hover{
  transform: scale(1.3);
  transition-property: all;
  transition-duration: 1.1s;
  background-color: #ff9900;
}
       .suscribir {
        background-size: cover;
        background-position: center;
        height: 350px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .formupa {
      width: 180px;
  }
  .form-group{
      margin: 2px;
  }
  .footer{
    background-color: black;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    color: #ffffff;
    font-size: 20px;}
  }
@media only screen and (min-width:960px){
  body {
    margin: 4px;
    padding: 4px;
    background: url(https://p4.wallpaperbetter.com/wallpaper/190/337/145/gray-minimalistic-textures-wallpaper-preview.jpg);
    background-color:rgb(69, 68, 68);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
  } 
  .font-rem{
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;}
  .nav {
    background-color: black;
    position: fixed;
    text-align: right;
    align-items: right;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.nav ul{
   margin: 10px;
   padding: 10px;
 }

  .nav ul li {
    display: inline-block;
    list-style-type: none;
    background-color: transparent;
  }
  .nav ul li:hover{
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 1.1s;
    background-color: #ff9900;
  }
  .suscribir {
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-items: center;
    align-items: center;
}
    .formupa {
      width: 300px;
  }
  .form-group{
      margin: 3px;
  }
  .footer{
    background-color: black;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    color: #ffffff;
    font-size: 20px;}
  }