@media screen and (max-width:450px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
  .nav {
    background-color: black;
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  }
   .nav ul{
     margin: 10px;
     padding: 10px;
    }
 
     .nav ul li {
       display: inline-block;
       list-style-type: none;
       background-color: transparent;
     }
     .nav ul li:hover{
       transform: scale(1.3);
       transition-property: all;
       transition-duration: 1.1s;
       background-color: #ff9900;
     }



  .header h1{
    padding: 9px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }
  .conteiner{
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 450px;
    margin: 8px auto;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, 1fr);
  }
  .conteiner > .header,
  .conteiner > .content,
  .conteiner > .sidebar,
  .conteiner > .footer,
  .conteiner > .div {
    background-color: rgb(0, 0, 0);
    padding: 6px;
    border: 1px solid rgb(255, 255, 255);
  }
  .conteiner > .header {
    grid-column: 1/6;
    background-color: rgb(0, 0, 0);
    color: wheat;
    }
    .conteiner > .footer {
      grid-column: 1/6;
      color: wheat;
    }
    .conteiner > .content {
      grid-column: 1/-1;
    }
    .content > .article {
      background:rgb(104, 104, 104);
      padding: 6px;
      margin-top: 5px;
      color: rgb(113, 113, 113);
    
    }
    .content .articulo h1,
    .content .articulo p {
      padding: 3px;
      text-shadow: beige;
      color: white;
    }
    .conteiner > .sidebar {
      grid-column: 1/-1;
      background: rgb(72, 71, 71);
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
      .conteiner > .sidebar img {
        max-width: 100%;
        max-height: 100%;
      }
    .conteiner > .publicaciones-relacionadas {
      grid-column: 1/6;
      background-color: rgb(87, 87, 87);
      color: antiquewhite;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
    .conteiner > .publicaciones-relacionadas:hover {
      cursor: pointer;
      color: white;
      background-color: gold;
    }
  
}

@media only screen and (min-width:451px) and (max-width:960px) {
  body {
    margin: 4px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
  .header h1{
    padding: 13px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
  
  }
  .conteiner{
    background-color: rgb(0, 0, 0);
    width: 90%;
    max-width: 920px;
    margin: 13px auto;
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(5, 1fr);
  }
  .conteiner > .header,
  .conteiner > .content,
  .conteiner > .sidebar,
  .conteiner > .footer,
  .conteiner > .div {
  background-color: rgb(0, 0, 0);
  padding: 13px;
  border: 1px solid rgb(255, 255, 255);
}

.conteiner > .header {
  grid-column: 1/6;
  background-color: rgb(0, 0, 0);
  color: wheat;
  }
  .conteiner > .footer {
    grid-column: 1/6;
    color: wheat;
  }
  .conteiner > .content {
    grid-column: span 3;
  }
  .content > .article {
    background:rgb(104, 104, 104);
    padding: 13px;
    margin-top: 5px;
    color: rgb(113, 113, 113);
  
  }
  .content .articulo h1,
  .content .articulo p {
    padding: 10px;
    text-shadow: beige;
    color: white;
  }
  .conteiner > .sidebar {
    grid-column: span 2;
    background: rgb(72, 71, 71);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .conteiner > .sidebar img {
      max-width: 100%;
      max-height: 100%;
    }
  .conteiner > .publicaciones-relacionadas {
  
    background-color: rgb(87, 87, 87);
    color: antiquewhite;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  .conteiner > .publicaciones-relacionadas:hover {
    cursor: pointer;
    color: white;
    background-color: gold;
  }
}

@media only screen and (min-width:960px){
body {
  margin: 4px;
  padding: 4px;
  background-color: black;
}

.menu{
  position: inherit;
}
.nav {
  background-color: black;
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
 .nav ul{
   margin: 10px;
   padding: 10px;
  }

   .nav ul li {
     display: inline-block;
     list-style-type: none;
     background-color: transparent;
   }
   .nav ul li:hover{
     transform: scale(1.3);
     transition-property: all;
     transition-duration: 1.1s;
     background-color: #ff9900;
   }

.header h1{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: white;

}
.conteiner{
  background-color:gold;
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.conteiner > .header,
.conteiner > .content,
.conteiner > .sidebar,

.conteiner > .div {
  background-color: rgb(89, 87, 87);
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
}

.conteiner > .header {
grid-column: 1/6;
background-color: rgb(89, 87, 87);
color: wheat;
}

.conteiner > .content {
  grid-column: span 3;
}
.content > .article {
  background-color: rgb(89, 87, 87);
  padding: 20px;
  margin-top: 5px;
  color: rgb(113, 113, 113);

}
.content .articulo h1,
.content .articulo p {
  padding: 10px;
  text-shadow: beige;
  color: white;

}

.conteiner > .sidebar {
  grid-column: span 2;
  background-color: rgb(89, 87, 87);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .conteiner > .sidebar img {
    max-width: 100%;
    max-height: 100%;
  }
.conteiner > .publicaciones-relacionadas {

  background-color: rgb(89, 87, 87);
  color: antiquewhite;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.conteiner > .publicaciones-relacionadas:hover {
  cursor: pointer;
  color: white;
  background-color: gold;
}
.footer{
  background-color: black;
  width: 100%;
  position:fixed;
  left:0px;
  bottom:0px;
  color: #ffffff;
  font-size: 20px;}
}
