@media screen and (max-width:450px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }

.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }

 .nav {
    position: fixed;
    text-align: right;
    top: 1px;
    width: 100%; 
    margin: 1px;
    display: block;
  }
  
    .nav ul{
      margin: 10px;
      padding: 10px;
    }
  
      .nav ul li {
        display: inline-block;
        list-style-type: none;
      }
.footer{
    color: #ffffff;
    font-size: 20px;
  } 
}

@media only screen and (min-width:451px) and (max-width:960px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }

    .nav {
     position: fixed;
     text-align: right;
     top: 1px;
     width: 100%; 
     margin: 1px;
     display: block;
    }
     .nav ul{
       margin: 10px;
       padding: 10px;}
       .nav ul li {
         display: inline-block;
         list-style-type: none;
       }
     .footer{
     color: #ffffff;
     font-size: 20px;}
  }

  @media only screen and (min-width:960px){
    body {
      margin: 4px;
      padding: 4px;
      background-color:rgb(69, 68, 68);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-attachment: fixed;
      height: 1400px;
    } 
    .font-rem{
      font-size: 6rem;
      font-family: 'Raleway', sans-serif;}
.nav {
   background-color: black;
   position: fixed;
   text-align: right;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999px;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
 }
  .nav ul{
    margin: 10px;
    padding: 10px;
   }

    .nav ul li {
      display: inline-block;
      list-style-type: none;
      background-color: transparent;
    }
    .nav ul li:hover{
      transform: scale(1.3);
      transition-property: all;
      transition-duration: 1.1s;
      background-color: #ff9900;
    }
     .contenedorseccion{
       padding: 40px;
       position: fixed;
       margin-top: 20px;
       margin-bottom: 20px;
       color: #ff9900;
     }
     .fw-300{
       font-weight: 300;
     }
     .centrar-texto{
       text-align: center;
     }

     .encabezado1{
       font-weight: 300;
       text-align: center;
       text-transform: uppercase;
     }

     .iconos-nosotros{
       display: flex;
       justify-content: space-between;

     }
     .iconos{
       flex-basis: calc(33.3%);
       text-align: center;
     }

     .mapa{
       position: relative;
       width:100%;
       background:rgb(183, 156, 3);
       display: flex;
       justify-content: center;
     }

     
     .footer{
       background-color: black;
       width: 100%;
       position:fixed;
       left:0px;
       bottom:0px;
       color: #ffffff;
       font-size: 20px;}
    }