@media screen and (max-width:450px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }

.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }

 .nav {
    position: fixed;
    text-align: right;
    top: 1px;
    width: 100%; 
    margin: 1px;
    display: block;
  }
  
    .nav ul{
      margin: 10px;
      padding: 10px;
    }
  
      .nav ul li {
        display: inline-block;
        list-style-type: none;
      }
.footer{
    color: #ffffff;
    font-size: 20px;
  } 
}

@media only screen and (min-width:451px) and (max-width:960px) {
  body {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
  }
.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }

    .nav {
     position: fixed;
     text-align: right;
     top: 1px;
     width: 100%; 
     margin: 1px;
     display: block;
    }
     .nav ul{
       margin: 10px;
       padding: 10px;}
       .nav ul li {
         display: inline-block;
         list-style-type: none;
       }
     .footer{
     color: #ffffff;
     font-size: 20px;}
  }

  @media only screen and (min-width:960px){
    body {
      margin: 4px;
      padding: 4px;
      background-color: rgb(0, 0, 0);
      background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-attachment: fixed;
    } 
    .font-rem{
      font-size: 6rem;
      font-family: 'Raleway', sans-serif;}
    .nav {
     position: fixed;
     text-align: right;
     top: 1px;
     width: 100%; 
     margin: 1px;
     display: block;}
     .nav ul{
       margin: 10px;
       padding: 10px;}
       .nav ul li {
         display: inline-block;
         list-style-type: none;
       }
     .inframe{
      position: relative;
      display: flex;
      justify-content: center;
     }
     .footer{
     color: #ffffff;
     font-size: 20px;}
    }
