*{
    margin: 4px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;

}

.font-rem{
     font-size: 6rem;
     font-family: 'Raleway', sans-serif;

 }



 .nav {
    position: fixed;
    text-align: right;
    top: 1px;
    width: 100%; 
    margin: 1px;
    display: block;
  }
  
    .nav ul{
      margin: 10px;
      padding: 10px;
    }
  

      .nav ul li {
        display: inline-block;
        list-style-type: none;
      }

.titulo{
      color: #ff9900;
    text-align: center;
    background-color: transparent;
    line-height: 100px;}








.footer{
        color: #ffffff;
        font-size: 20px;
      }