
@media only screen and (max-width:450px) {
  .body {
    margin: 4px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;}
    

  .gallery-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;


  }
  .carousel-principal{
    margin: auto;
    align-items: center;
    height: 150px;
    width: 150px;
    display: center;

}
  .h1 {
    font-size: 22px;
  }
  .gallery-title {
    font-size: 10px;
  }
  .gallery.item {
    grid-column: span 1;
    grid-row: span 1;
  }
  }





  
 /*tablet*/
 @media only screen and (min-width:451px) and (max-width:960px) {
  .body {
    margin: 4px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;}
    .font-rem{
      font-size: 6rem;
      font-family: 'Raleway', sans-serif;
      }
      .nav {
        position: fixed;
        text-align: right;
        top: 1px;
        width: 100%; 
        margin: 1px;
        display: block;
       }
      
        .nav ul{
          margin: 10px;
          padding: 10px;
         }
      
          .nav ul li {
            display: inline-block;
            list-style-type: none; 
          }
          .carousel-principal{
            margin: auto;
            align-items: center;
            height: 350px;
            width: 350px;
            display: center;
        
        }
    .main {
      background-color: aliceblue;
    }

     .titulo1 {
        color: #ff9900;
        text-align: center;
        background-color: transparent;
        line-height: 100px;
      }
        .p1 {
        color: #ffffff;
        font-size: 20px;
        text-align: left;
        background-color: transparent;
        width: 400px;
        height: 150px;
        margin: 80px 100px 80px 80px;
        padding: 80px 100px 80px 80px;
        border: solid 3px gold;
       }
       .titulo2 {
        color: #ff9900;
        text-align: center;
        background-color: transparent;
        }
       .p2{
        color: #ffffff;
        font-size: 20px;
        text-align: left;
        background-color: transparent;
        width: 400px;
        height: 150px;
        margin: 80px 100px 80px 80px;
        padding: 80px 100px 80px 80px;
        border: solid 3px gold;
      }
       .p3{
       color: #ffffff;
        font-size: 20px;
        text-align: left;
        background-color: transparent;
        width: 300px;
        height: 150;
        margin: 80px 100px 80px 80px;
        padding: 80px 100px 80px 80px;
        border: solid 3px gold;
      
      }



  .gallery-conteiner {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-self: center;


   }
   .gallery.item {
     grid-column: span 1;
     grid-row: span 1;
      }
      .gallery-title{
     font-size: 18px;
   }
   
   .h1 {

    color: gold;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
 }
 .footer{
  color: #ffffff;
  font-size: 20px;
  }



}








/*computadora*/
@media only screen and (min-width:960px){

.body {
  margin: 4px;
  padding: 4px;
  background-color: black;
  background-image: url(https://www.tuexpertomovil.com/wp-content/uploads/2020/02/fondos-de-pantalla-para-samsung-036.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;}


.font-rem{
   font-size: 6rem;
   font-family: 'Raleway', sans-serif;
   }



.nav {
  position: fixed;
  text-align: right;
  top: 1px;
  width: 100%; 
  margin: 1px;
  display: block;
 }

  .nav ul{
    margin: 10px;
    padding: 10px;
   }

    .nav ul li {
      display: inline-block;
      list-style-type: none;
      background-color: transparent;
    }
    .nav ul li:hover{
      transform: scale(1.3);
      transition-property: all;
      transition-duration: 1.1s;
      background-color: #ff9900;
    }
    
    .carousel-principal{
      position: sticky;
      margin: auto;
      align-items: center;
      height: 500px;
      width: 500px;
      display: center;
  
  }

  .titulo1 {
      color: #ff9900;
      text-align: center;
      background-color: transparent;
      line-height: 100px;
    } 
    .div1{
      width: 450px;
      height: 150px;
    }
    .div1 .p1{
      animation-duration: 3s;
      animation-name: slidein;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }
 .p1{
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  animation-duration: 4s;
  animation-name: sliden;
 }
 .titulo2 {
  color: #ff9900;
  text-align: center;
  background-color: transparent;
  }

 .p2{
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  width: 400px;
  height: 150px;
  margin: 80px 100px 80px 80px;
  padding: 80px 100px 80px 80px;
  border: solid 3px gold;
}
 .p3{
 color: #ffffff;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
  width: 300px;
  height: 150;
  margin: 80px 100px 80px 80px;
  padding: 80px 100px 80px 80px;
  border: solid 3px gold;

  }
.h1 {
  color: gold;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  padding: 20px;
 }
 .gallery-conteiner {
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   grid-auto-rows: 320px;
   gap: 15px;
 }

 .gallery-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.5s ease;
 }
 .gallery.item{
   position: relative;
 }


 .footer{
  color: #ffffff;
  font-size: 20px;
  }
  }